body{
    overflow: hidden;
    padding: 0;
    background-color: peachpuff;
}

#poga{
    top: 90vh;
    left: 2rem;
    position: absolute;

}

#poga2{
    top: 95vh;
    left: 2rem;
    position: absolute;
}

#field{
    height: 80vh;
    width: 80vw;
    left: 10vw;
    top: 10vh;
    position: absolute;

    background-image:url("kristaps.jpg") ;
}

#kubiks{
    height: 6rem;
    width: 6rem;
    background: red;
}